In [2]:
import pandas as pd
import requests
from db import *

In [94]:
db = MySQLManager()
df = db.get_df("""
SELECT 
player_gws.player_name AS player_name,
gameweek AS gameweek,
player_gws.xP AS xP,
goal_xP,
assist_xP,
bonus_xP,
cs_xP,
concede_xP,
minutes_xP
FROM player_gws
INNER JOIN team_gws
    ON team_gws.fixture_id = player_gws.fixture_id
    AND team_gws.team = player_gws.team
LEFT JOIN player_gws_extra
    ON player_gws.player_name = player_gws_extra.player_name
    AND player_gws.fixture_id = player_gws_extra.fixture_id
""")

In [3]:
df = pd.read_csv("../data/gw_history.csv")

In [8]:
cols = ["player_name", "gameweek", "opponent", "minutes", "avg_minutes"]
df.loc[df["player_name"] == "Mason Greenwood", cols]

           player_name  gameweek        opponent  minutes  avg_minutes
289    Mason Greenwood       1.0           Leeds       90          NaN
771    Mason Greenwood       2.0     Southampton       90       90.000
1263   Mason Greenwood       3.0          Wolves       89       90.000
1699   Mason Greenwood       4.0       Newcastle       84       89.500
2177   Mason Greenwood       5.0        West Ham       72       86.750
2333   Mason Greenwood       6.0     Aston Villa       90       79.375
2930   Mason Greenwood       7.0         Everton       90       84.688
3283   Mason Greenwood       8.0       Leicester       79       87.344
4171   Mason Greenwood       9.0       Liverpool       45       83.172
4453   Mason Greenwood      10.0           Spurs        0       64.086
4789   Mason Greenwood      11.0        Man City       66       32.043
5253   Mason Greenwood      12.0         Watford        0       49.021
6095   Mason Greenwood      13.0         Chelsea        0       24.511
6577   Mason Greenwood      14.0         Arsenal        0       12.255
6889   Mason Greenwood      15.0  Crystal Palace       28        6.128
7409   Mason Greenwood      16.0         Norwich       23       17.064
8439   Mason Greenwood      19.0       Newcastle       45       20.032
8787   Mason Greenwood      20.0         Burnley       80       32.516
9189   Mason Greenwood      21.0          Wolves       59       56.258
9360   Mason Greenwood      22.0     Aston Villa       88       57.629
9843   Mason Greenwood      22.0       Brentford       70       72.814
9956   Mason Greenwood      23.0        West Ham       81       71.407
10573  Mason Greenwood      24.0         Burnley        0       76.204
11125  Mason Greenwood      25.0     Southampton        0       38.102
11393  Mason Greenwood      25.0        Brighton        0       19.051
11902  Mason Greenwood      26.0           Leeds        0        9.525
12297  Mason Greenwood      27.0         Watford        0        4.763
12998  Mason Greenwood      28.0        Man City        0        2.381
13353  Mason Greenwood      29.0           Spurs        0        1.191
14574  Mason Greenwood      31.0       Leicester        0        0.595
14883  Mason Greenwood      32.0         Everton        0        0.298
15518  Mason Greenwood      33.0         Norwich        0        0.149
15666  Mason Greenwood      33.0       Liverpool        0        0.074
16034  Mason Greenwood      34.0         Arsenal        0        0.037
17002  Mason Greenwood      35.0       Brentford        0        0.019
17382  Mason Greenwood      36.0        Brighton        0        0.009
18171  Mason Greenwood      37.0         Chelsea        0        0.005
18700  Mason Greenwood      38.0  Crystal Palace        0        0.002