In [2]:
import pandas as pd
import requests
from db import *

In [2]:
db = MySQLManager()
df = db.get_df("""
SELECT 
player_gws.player_name AS player_name,
gameweek AS gameweek,
player_gws.xP AS xP,
goal_xP,
assist_xP,
bonus_xP,
cs_xP,
concede_xP,
minutes_xP
FROM player_gws
INNER JOIN team_gws
    ON team_gws.fixture_id = player_gws.fixture_id
    AND team_gws.team = player_gws.team
LEFT JOIN player_gws_extra
    ON player_gws.player_name = player_gws_extra.player_name
    AND player_gws.fixture_id = player_gws_extra.fixture_id
""")

In [7]:
df = pd.read_csv("../data/gw_history.csv")
df[df["player_name"] == "James Maddison"].iloc[3]

player_name            James Maddison
position                            M
fixture_id                         37
gameweek                            4
kickoff_date               2021-09-11
team                        Leicester
opponent                     Man City
completed                           1
npxG                              0.0
xA                              0.094
goals_scored                      0.0
assists                           0.0
bonus                             0.0
clean_sheets                      0.0
goals_conceded                    0.0
minutes                          73.0
total_points                      2.0
avg_team_xG                      0.91
avg_team_xGA                    0.655
avg_opponent_xG                 2.762
avg_opponent_xGA                0.655
proj_score                       0.94
opponent_proj_score              2.14
goal_xP                           NaN
assist_xP                         NaN
bonus_xP                          NaN
cs_xP                             NaN
concede_xP                        NaN
minutes_xP                        NaN
xP                                NaN
avg_npxG                        0.066
avg_xA                          0.056
avg_bonus                         0.0
avg_minutes                     77.75
Name: 1438, dtype: object

In [24]:
cols = ["player_name", "gameweek", "opponent", "avg_npxG", "avg_xA", "avg_bonus", "avg_minutes", "minutes", "total_points"]
df.loc[df["player_name"] == "James Maddison", cols]

,player_name,gameweek,opponent,avg_npxG,avg_xA,avg_bonus,avg_minutes,minutes,total_points
312,James Maddison,1.0,Wolves,NaN,NaN,NaN,NaN,64.0,3.0
873,James Maddison,2.0,West Ham,0.000,0.081,0.000,64.000,85.0,2.0
982,James Maddison,3.0,Norwich,0.006,0.080,0.000,74.500,90.0,2.0
1438,James Maddison,4.0,Man City,0.066,0.056,0.000,82.250,76.0,2.0
2169,James Maddison,5.0,Brighton,0.046,0.067,0.000,79.125,48.0,1.0
2550,James Maddison,6.0,Burnley,0.038,0.047,0.000,63.562,8.0,1.0
3121,James Maddison,7.0,Crystal Palace,0.027,0.039,0.000,35.781,17.0,1.0
3361,James Maddison,8.0,Man Utd,0.034,0.027,0.000,26.391,77.0,2.0
4149,James Maddison,9.0,Brentford,0.053,0.019,0.000,51.695,80.0,8.0
4324,James Maddison,10.0,Arsenal,0.212,0.027,0.300,65.848,73.0,2.0
5095,James Maddison,11.0,Leeds,0.193,0.117,0.210,69.424,8.0,1.0
5425,James Maddison,12.0,Chelsea,0.135,0.082,0.147,38.712,42.0,1.0
5937,James Maddison,13.0,Watford,0.101,0.197,0.103,40.356,90.0,16.0
6287,James Maddison,14.0,Southampton,0.210,0.295,0.972,65.178,90.0,10.0
7042,James Maddison,15.0,Aston Villa,0.202,0.237,1.580,77.589,90.0,1.0
7497,James Maddison,16.0,Newcastle,0.219,0.166,1.106,83.794,90.0,16.0
8128,James Maddison,19.0,Man City,0.214,0.255,1.374,86.897,90.0,10.0
8642,James Maddison,20.0,Liverpool,0.295,0.275,1.262,88.449,69.0,3.0
9849,James Maddison,22.0,Spurs,0.303,0.199,0.883,78.724,90.0,8.0
10316,James Maddison,23.0,Brighton,0.369,0.146,0.918,84.362,90.0,2.0
10856,James Maddison,24.0,Liverpool,0.350,0.108,0.643,87.181,90.0,2.0
11298,James Maddison,25.0,West Ham,0.363,0.106,0.450,88.591,76.0,5.0
11873,James Maddison,26.0,Wolves,0.274,0.081,0.315,82.295,14.0,1.0
12592,James Maddison,27.0,Burnley,0.232,0.056,0.221,48.148,16.0,6.0
12694,James Maddison,28.0,Leeds,0.171,0.039,0.154,32.074,0.0,0.0
13554,James Maddison,29.0,Arsenal,0.171,0.039,0.108,16.037,90.0,2.0
14150,James Maddison,30.0,Brentford,0.119,0.067,0.076,53.018,90.0,10.0
14457,James Maddison,31.0,Man Utd,0.124,0.222,0.953,71.509,90.0,6.0
15141,James Maddison,32.0,Crystal Palace,0.086,0.301,0.967,80.755,90.0,6.0
15585,James Maddison,33.0,Newcastle,0.160,0.265,0.977,85.377,NaN,NaN
15864,James Maddison,33.0,Everton,0.160,0.265,0.977,85.377,NaN,NaN
16109,James Maddison,34.0,Aston Villa,0.160,0.265,0.977,85.377,NaN,NaN
16788,James Maddison,35.0,Spurs,0.160,0.265,0.977,85.377,NaN,NaN
17186,James Maddison,36.0,Everton,0.160,0.265,0.977,85.377,NaN,NaN
17588,James Maddison,36.0,Norwich,0.160,0.265,0.977,85.377,NaN,NaN
17966,James Maddison,37.0,Watford,0.160,0.265,0.977,85.377,NaN,NaN
18449,James Maddison,37.0,Chelsea,0.160,0.265,0.977,85.377,NaN,NaN
18629,James Maddison,38.0,Southampton,0.160,0.265,0.977,85.377,NaN,NaN