In [96]:
import pandas as pd
import requests

In [150]:
df = pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_matches_latest.csv")

In [160]:
df = df[(df["league"] == "Barclays Premier League") & (df["season"] == 2021)]
df[["date", "team1", "team2", "proj_score1", "proj_score2", "score1", "score2"]]

,date,team1,team2,proj_score1,proj_score2,score1,score2
632,2021-08-13,Brentford,Arsenal,0.96,1.61,2.0,0.0
643,2021-08-14,Manchester United,Leeds United,2.06,0.94,5.0,1.0
658,2021-08-14,Burnley,Brighton and Hove Albion,1.19,1.31,1.0,2.0
667,2021-08-14,Leicester City,Wolverhampton,1.65,0.95,1.0,0.0
672,2021-08-14,Chelsea,Crystal Palace,2.23,0.55,3.0,0.0
...,...,...,...,...,...,...,...
10134,2022-05-22,Burnley,Newcastle,1.18,1.15,NaN,NaN
10135,2022-05-22,Manchester City,Aston Villa,2.22,0.68,NaN,NaN
10136,2022-05-22,Chelsea,Watford,2.34,0.56,NaN,NaN
10140,2022-05-22,Brentford,Leeds United,1.79,1.20,NaN,NaN
10141,2022-05-22,Crystal Palace,Manchester United,1.30,1.30,NaN,NaN

In [166]:
df = pd.read_csv("../data/gw_history.csv")
df

,player_name,position,fixture_id,gameweek,kickoff_date,team,opponent,completed,minutes,npxG,...,avg_team_xG,avg_team_xGA,avg_opponent_xG,avg_opponent_xGA,proj_score,opponent_proj_score,avg_npxG,avg_xA,avg_bonus,avg_minutes
0,Bernd Leno,G,1,1.0,2021-08-13,Arsenal,Brentford,1,90,NaN,...,NaN,NaN,NaN,NaN,1.61,0.96,NaN,NaN,NaN,NaN
1,Ethan Pinnock,D,1,1.0,2021-08-13,Brentford,Arsenal,1,90,NaN,...,NaN,NaN,NaN,NaN,0.96,1.61,NaN,NaN,NaN,NaN
2,Bryan Mbeumo,M,1,1.0,2021-08-13,Brentford,Arsenal,1,85,NaN,...,NaN,NaN,NaN,NaN,0.96,1.61,NaN,NaN,NaN,NaN
3,Mads Bidstrup,M,1,1.0,2021-08-13,Brentford,Arsenal,1,10,NaN,...,NaN,NaN,NaN,NaN,0.96,1.61,NaN,NaN,NaN,NaN
4,Rob Holding,D,1,1.0,2021-08-13,Arsenal,Brentford,1,0,NaN,...,NaN,NaN,NaN,NaN,1.61,0.96,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19049,James McAtee,M,330,NaN,NaN,Man City,Wolves,0,0,NaN,...,NaN,NaN,NaN,NaN,2.12,0.51,NaN,NaN,0.0,0.000
19050,Kayky da Silva Chagas,F,330,NaN,NaN,Man City,Wolves,0,0,NaN,...,NaN,NaN,NaN,NaN,2.12,0.51,NaN,NaN,0.0,0.000
19051,Toti António Gomes,D,330,NaN,NaN,Wolves,Man City,0,0,NaN,...,NaN,NaN,NaN,NaN,0.51,2.12,NaN,NaN,0.0,0.000
19052,Francisco Jorge Tomás Oliveira,M,330,NaN,NaN,Wolves,Man City,0,0,NaN,...,NaN,NaN,NaN,NaN,0.51,2.12,NaN,NaN,0.0,0.001
19053,Liam Delap,F,330,NaN,NaN,Man City,Wolves,0,0,NaN,...,NaN,NaN,NaN,NaN,2.12,0.51,NaN,NaN,0.0,0.000